.transformer-marker {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	z-index: 9999;
	/* cursor: crosshair; */
	cursor: pointer;
	border-radius: 8px;
}
.transformer-marker>div {
	position: relative;
	width: 6px;
	height: 6px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 8px;
}
#transformer-marker-nw>div {
	background: red;
	top: -3px;
	left: -3px;
}
#transformer-marker-sw>div {
	background: blue;
	bottom: 3px;
	left: -3px;
}
#transformer-marker-ne>div {
	background: green;
	top: -3px;
	right: 3px;
}
#transformer-marker-se>div {
	background: yellow;
	bottom: 3px;
	right: 3px;
}
#transformer-marker-n>div{
	top: -3px;
	left: -3px;
}
#transformer-marker-s>div{
	bottom: 3px;
	left: -3px;
}
#transformer-marker-w>div{
	top: -3px;
	left: -3px;
}
#transformer-marker-e>div{
	top: -3px;
	right: 3px;
}
#transformer-pivot {
	position: absolute;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	width: 6px;
	height: 6px;
}
#transformer-boundingbox {
	position: absolute;
	outline: 5px solid rgba(230, 200, 40, 0.1);
}
